/*@path:partials\_delivery.scss*/
.delivery-block{
  margin-top:20px;
  .h{
    font:26px font();
    text-align:center;
    margin-bottom:24px;
    &:not(:first-child){
      margin-top:40px;
    }
  }
  .s-h{
    margin-top:40px;
    @include flx(display,flex);
    @include flx(align-items,center);
    font:18px font();
    &.simple{
      text-align:center;
      &:before,&:after{
        display:none;
      }
    }
    &:before,&:after{
      content:'';
      border-top:2px solid getc(bd);
      @include flx(flex,'1 0 auto');
    }
    &:before{
      margin-right:20px;
    }
    &:after{
      margin-left:20px;
    }
  }
  .b-h{
    font:20px/54px font();
    color:#fff;
    margin:-19px -19px 0 -19px;
    .type2 &{
      background:getc(grn);
    }
    .type22 &{
      color:#000;
      background:getc(grn2);
    }
  }
  .dots{
    li{
      margin:10px 0 0 20px;
      position:relative;
      &:before{
        content:'\2022';
        display:block;
        @include abs($l:-20px,$t:0);
      }
    }
  }
  p{
    &:not(:first-child){
      margin-top:16px;
    }
    &.alone{
      text-align:center;
      margin-top:20px;
      img{
        margin-top:24px;
        max-width:100%;
      }
    }
  }
  i{
    font-style:italic;
  }
  .block{
    border:3px solid getc(bd);
    padding:16px;
    text-align:center;
    margin-top:30px;
    &.simple{
      border-width:2px;
      .b-h{
        display:inline-block;
        vertical-align:top;
        background:#fff;
        margin-top:-26px;
        font-size:16px;
        line-height:20px;
        color:#000;
        padding:0 20px;
        &+p{
          margin-top:0;
        }
      }
    }
  }
  .three{
    margin-top:20px;
    @include med($pk){
      @include flx(display,flex);
    }
    .block{
      margin:10px 0 0 0;
      @include med($pk){
        margin:0 0 0 10px;
        @include flx(flex,'1 1 0px');
      }
    }
    .col:first-child{
      margin-bottom:30px;
      @include med($pk){
        margin:20px 20px 0 0;
      }
    }
  }
  .two{
    @include med($pk){
      @include flx(display,flex);
      @include flx(justify-content,space-between);
    }
    .col{
      margin-top:20px;
      @include med($pk){
        width:48%;
        margin:0;
      }
    }
    .s-h{
      margin-top:30px;
    }
  }
}