/*@path:partials\_index.scss*/
.bnr-block{
  position:relative;
  overflow:hidden;
  @extend %loader;
  margin-bottom:20px;
  @include med($pk){
    margin-bottom:46px;
  }
  &.loaded{
    background:none;
  }
  .item{
    @include abs($l:0,$r:0,$t:0,$b:0);
    opacity:0;
    background:center/cover no-repeat;
    @include trs('opacity .5s ease-in-out');
    &.active{
      cursor:pointer;
      opacity:1;
      z-index:1;
    }
  }
  .next-arr,.prev-arr{
    background:none;
    z-index:1;
    @include center($f:v);
    height:100%;
    @include flx(display,flex);
    @include flx(align-items,center);
    width:60px;
    &.hidden,&.disabled{
      display:none;
    }
    &:before{
      content:'';
      @include center();
    }
  }
  .prev-arr{
    left:0;
    .type2 &:before{
      @include sprite(arr-l1);
    }
  }
  .next-arr{
    right:0;
    .type2 &:before{
      @include sprite(arr-r1);
    }
  }
}
//---
.mozaic-swiper .mozaic-banner-entry.type-1{
  background-size:contain;
}
.mozaic-banner-content{
  .title{
    font-weight:300;
    font-family:font();
    margin-right:-80px;
    span{
      font-size:12px;
      color:getc(font);
    }
  }
  .subtitle{
    font-family:font();
    text-transform:none;
    margin-bottom:10px;
  }
  .description{
    color:getc(base);
    line-height:18px;
  }
  .button{
    color:#000 !important;
    font-weight:400;
  }
}
.mozaic-banner-entry .what{
  width:96px;
  @include abs($r:0,$t:0);
  line-height:18px;
  text-align:center;
  color:#fff;
  font-size:12px;
}
.mozaic-swiper .pagination{
  .swiper-pagination-switch{
    background:none;
    border:2px solid getc(bd);
  }
  .type2 & .swiper-active-switch{
    border-color:getc(grn);
    background:getc(grn);
  }
}
.swiper-wrapper{
  @include flx(display,flex);
}
//---
.tabs-container .swiper-tabs .block-title{
  color:getc(font);
  font-family:font();
  &.active{
    font-weight:400;
    color:#000;
  }
}
//---
.products-swiper .paddings-container{
  height:100%;
  border-right:1px solid getc(bd);
  position:relative;
  padding-top:24px;
  .disc{
    @include abs($l:22px,$t:60px);
    line-height:18px;
    padding:0 4px;
    color:#fff;
  }
  .tri{
    @include abs($l:21px,$t:0);
  }
  .what{
    width:96px;
    @include abs($r:21px,$t:0);
    line-height:18px;
    text-align:center;
    color:#fff;
  }
}
.product-slide-entry{
  padding-bottom:80px;
  position:relative;
  height:100%;
  margin-left:20px;
  .product-image{
    margin:0 20px 50px 20px;
  }
  .information-blocks & .tag{
    font-size:14px;
    color:getc(font);
    text-transform:none;
    margin-bottom:16px;
  }
  .information-blocks & .title{
    font-family:font();
    color:#000;
  }
  .bottom{
    font-family:font();
    @include abs($l:0,$r:0,$b:0);
  }
  .price{
    margin:0;
  }
  .cart{
    display:inline-block;
    margin-top:14px;
    padding:0 12px;
    line-height:32px;
    border:none;
    background:getc(bg);
    &:before{
      content:'';
      display:inline-block;
      margin-right:6px;
      vertical-align:middle;
      @include sprite(i-cart);
    }
    .type2 &{
      color:getc(grn);
    }
  }
}
//---
.product-column-entry{
  .title{
    font:700 18px/1 font();
    text-transform:none;
  }
  .more{
    font:700 16px/1 font();
    font-size:16px;
    margin-top:20px;
  }
  .description a{
    color:getc(base);
    font-size:14px;
  }
}
//---
.block-title{
  font:700 18px/1 font();
}
.information-blocks .information-entry .information-entry-item{
  margin-top:16px;
  line-height:20px;
  display:block;
  color:#000;
  .imp{
    display:block;
  }
  .date{
    font-size:16px;
    font-family:font();
  }
}
#content-block .latest-review{
  .text{
    font-size:14px;
  }
  footer{
    text-align:center;
  }
  cite{
    color:#888;
    font-family:font();
    font-size:14px;
  }
}
.blockquote-slider{
  margin-right:0;
  .pagination{

  }
}
//---
.logos-blocks{
  margin:60px -40px 0 -40px;
  @include flx(display,flex);
  @include flx(flex-flow,'row wrap');
  @include flx(justify-content,space-between);
  @include flx(align-items,center);
  .item{
    margin:10px 40px 0 40px;
    width:160px;
    text-align:center;
  }
  img{
    max-width:160px;
  }
  .ph{
    width:160px;
    margin:0 40px;
  }
}