/*@path:partials\_product.scss*/
.product-detail-box{
  @extend %prod-amt;
  .product-title{
    font-weight:300;
    .type2 &{
      color:getc(grn);
    }
    .type22 &{
      color:getc(grn21);
    }
    .type1 &{
      color:getc(grn11);
      font-weight:400;
      font-family:font1();
    }
  }
  .price{
    margin:50px 0 10px 0;
    font-family:font();
    .type1 &{
      font-family:font1();
    }
    .prev{
      font-size:22px;
      vertical-align:baseline;
    }
    .current{
      font-weight:400;
      font-size:40px;
      vertical-align:baseline;
      .type2 &{
        color:getc(grn) !important;
      }
      .type22 &{
        color:getc(grn21) !important;
      }
      .type1 &{
        color:getc(grn1) !important;
      }
    }
  }
  .p-amt-h{
    font:16px font();
    margin-bottom:6px;
    .type1 &{
      font:18px font111();
    }
  }
  .p-amt-free{
    @include center($l:130px);
    color:getc(red);
    font-size:13px;
  }
  .button.style-10{
    color:#fff;
    margin-top:26px;
    font:16px font();
    text-transform:none;
    border:none;
    max-width:none;
    width:auto;
    padding:11px 18px;
    letter-spacing:0;
    .type2 &{
      background:getc(grn);
    }
    .type22 &{
      background:getc(grn25);
    }
    .type1 &{
      background:getc(grn1);
      font:20px font1();
    }
  }
}
.product-description{
  color:getc(base);
  font:600 16px/20px font();
  .type1 &{
    font-weight:400;
    font-family:font111();
  }
  p:not(:first-child){
    margin-top:10px;
  }
}
.production-logo{
  padding-bottom:25px;
  .background{
    background:none;
    padding:0;
  }
  .logo{
    border:none;
    padding:0;
  }
}
.product-sidebar{
  .type1 & .products-list{
    border-width:3px;
    border-color:getc(grn2);
  }
  .block-title{
    font-size:22px;
    a{
      .type22 &{
        color:getc(grn21);
      }
      .type1 &{
        color:getc(grn1);
        font:24px font1();
      }
    }
  }
  .title{
    color:#000 !important;
  }
  .price{
    margin-top:10px;
    .type1 &{
      font-family:font1();
      .current{
        color:getc(grn1);
      }
    }
  }
  .current{
    font-weight:400;
    margin-left:6px;
    body.style-1 .type22 &{
      color:getc(grn21);
    }
    body.style-1 .type1 &{
      color:getc(grn1);
    }
  }
}
.product-descr{
  margin:0 15px;
  font-size:15px;
  color:#000;
  p:not(:first-child){
    margin:10px 0 0 0;
  }
  b{
    font-weight:700;
  }
}
.prod-descr-title{
  font:22px font();
  .type1 &{
    font-family:font1();
  }
}
.inline-product-entry .image:hover{
  border-color:transparent;
}