<div class="footer-wrapper style-1">
    <footer class="type-1">
        <div class="footer-bottom-navigation">
            <div class="cell-view">
                <p>
                    Бесплатная доставка корма по Москве при заказе от 999 руб.
                </p>
                <p>
                    Доставка по России по расценкам траспортных компаний
                </p>
                <div class="payment-methods">
                    <a href="#"><img src="images/pay1.jpg" alt="" /></a>
                    <a href="#"><img src="images/pay2.jpg" alt="" /></a>
                    <a href="#"><img src="images/pay3.jpg" alt="" /></a>
                </div>
                <p>
                    Заказ может быть оплачен картой онлайн
                </p>
            </div>
            <div class="cell-view">
                <div class="footer-links">
                    <!--<script type="text/javascript">(function() {
                     if (window.pluso)if (typeof window.pluso.start == "function") return;
                     if (window.ifpluso==undefined) { window.ifpluso = 1;
                      var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                      s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
                      s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
                      var h=d[g]('body')[0];
                      h.appendChild(s);
                     }})();</script>-->
                    <div class="pluso" data-background="transparent" data-options="big,square,line,horizontal,nocounter,theme=04" data-services="vkontakte,odnoklassniki,facebook"></div>
                    <p>
                        <a class="footer-agreement" href="#">Соглашение об обработке персональных данных</a>
                    </p>
                    <p>
                        <a class="footer-tel" href="tel:+4959955837">+7 (495) 99-55-837</a>
                    </p>
                    <p>
                        Пн-пт:09:00-21:00<br/>
                        Сб:10:00-14:00
                    </p>
                    <p>
                        2003-2019 &copy; "ZooFood"
                    </p>
                </div>
            </div>
        </div>
        <!--<div class="footer-copyright-wrapper">
            <div class="copyright">Created with by <a href="#">8theme</a>. All right reserved</div>
        </div>-->
    </footer>
</div>
<script src="js/jquery-2.1.3.min.js"></script>
<script src="js/idangerous.swiper.min.js"></script>
<script src="js/global.js"></script>

<!-- custom scrollbar -->
<!--<script src="js/jquery.mousewheel.js"></script>
<script src="js/jquery.jscrollpane.min.js"></script>-->
<script src="js/jquery-ui.min.js"></script>
@@include('scripts.html')

<div class="safe-hide-svg">
    @@include('shared-sprite.svg')
</div>

<div class="cart-box popup">
    <div class="popup-container">
        <div class="cart-entry">
            <a class="image"><img src="img/product-menu-1.jpg" alt="" /></a>
            <div class="content">
                <a class="title" href="#">Корм кошачий</a>
                <div class="quantity">Количество: 4</div>
                <div class="price">550 р</div>
            </div>
            <div class="button-x"><i class="fa fa-close"></i></div>
        </div>
        <div class="cart-entry">
            <a class="image"><img src="img/product-menu-1_.jpg" alt="" /></a>
            <div class="content">
                <a class="title" href="#">Миска собачья</a>
                <div class="quantity">Количество: 1</div>
                <div class="price">1500 р</div>
            </div>
            <div class="button-x"><i class="fa fa-close"></i></div>
        </div>
        <div class="summary">
            <div class="subtotal">Сумма: 2050 р</div>
            <div class="grandtotal">Итого: <span>3000 р</span></div>
        </div>
        <div class="cart-buttons">
            <div class="column">
                <a class="button style-3">В корзину</a>
                <div class="clear"></div>
            </div>
            <div class="column">
                <a class="button style-4">оформить</a>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>