<div class="header-wrapper @@inner">
    <header class="type-1">
        <div class="header-top">
            <a href="https://api.whatsapp.com/send?phone=74959955837" class="header-top-call"><b>+7 (495) 99-55-837</b></a>
            <a href="https://api.whatsapp.com/send?phone=74959955837" class="header-top-call"><b>+7 (495) 99-55-837</b></a>
            <div class="menu-button responsive-menu-toggle-class"><i class="fa fa-reorder"></i></div>
        </div>
        
        <div class="header-middle">
            <div class="logo-wrapper">
                <a id="logo" href="#"><img src="images/logo2.png" alt="" /></a>
            </div>
            
            <div class="middle-entry">
                <div class="search-box">
                    <form>
                        <div class="search-button">
                            <i class="fa fa-search"></i>
                            <input type="submit" />
                        </div>
                        <div class="search-field">
                            <input type="text" value="" placeholder="Поисковая экспедиция по планете" />
                        </div>
                    </form>
                </div>
            </div>
            
            <div class="right-entries">
                <a class="header-functionality-entry open-search-popup" href="#"><i class="fa fa-search"></i><span>Search</span></a>
                <a class="header-functionality-entry open-cart-popup" href="#"><i class="fa fa-shopping-cart"></i><span>Моя корзина</span> <b>34922 ₽</b></a>
            </div>
        </div>
        <a href="" class="header-cart-side"><span>3</span></a>
        
        <div class="close-header-layer"></div>
        <div class="navigation">
            <div class="navigation-header responsive-menu-toggle-class">
                <div class="title">Меню</div>
                <div class="close-menu"></div>
            </div>
            <div class="nav-overflow">
                <nav>
                    <ul>
                        <li class="full-width">
                            <a href="#" class="active"><span class="menu-item-pic"></span>Собаки</a><i class="fa fa-chevron-down"></i>
                            <div class="submenu">
                                <div class="full-width-menu-items-right">
                                    <div class="menu-slider-arrows">
                                        <a class="left"><i class="fa fa-chevron-left"></i></a>
                                        <a class="right"><i class="fa fa-chevron-right"></i></a>
                                    </div>
                                    <div class="submenu-list-title"><a href="#">Reccomended Products</a><span class="toggle-list-button"></span></div>
                                    <div class="menu-slider-out">
                                        <div class="menu-slider-in">
                                            <div class="menu-slider-entry">
                                                <div class="product-slide-entry">
                                                    <div class="product-image">
                                                        <img src="img/product-minimal-1.jpg" alt="" />
                                                        <div class="bottom-line left-attached">
                                                            <a class="bottom-line-a square"><i class="fa fa-shopping-cart"></i></a>
                                                            <a class="bottom-line-a square"><i class="fa fa-heart"></i></a>
                                                            <a class="bottom-line-a square"><i class="fa fa-retweet"></i></a>
                                                            <a class="bottom-line-a square"><i class="fa fa-expand"></i></a>
                                                        </div>
                                                    </div>
                                                    <a href="#" class="title">1.Pullover Batwing Sleeve Zigzag</a>
                                                    <div class="price">
                                                        <div class="prev">$199,99</div>
                                                        <div class="current">$119,99</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="menu-slider-entry">
                                                <div class="product-slide-entry">
                                                    <div class="product-image">
                                                        <img src="img/product-minimal-2.jpg" alt="" />
                                                        <div class="bottom-line left-attached">
                                                            <a class="bottom-line-a square"><i class="fa fa-shopping-cart"></i></a>
                                                            <a class="bottom-line-a square"><i class="fa fa-heart"></i></a>
                                                            <a class="bottom-line-a square"><i class="fa fa-retweet"></i></a>
                                                            <a class="bottom-line-a square"><i class="fa fa-expand"></i></a>
                                                        </div>
                                                    </div>
                                                    <a href="#" class="title">2.Pullover Batwing Sleeve Zigzag</a>
                                                    <div class="price">
                                                        <div class="prev">$199,99</div>
                                                        <div class="current">$119,99</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="menu-slider-entry">
                                                <div class="product-slide-entry">
                                                    <div class="product-image">
                                                        <img src="img/product-minimal-3.jpg" alt="" />
                                                        <div class="bottom-line left-attached">
                                                            <a class="bottom-line-a square"><i class="fa fa-shopping-cart"></i></a>
                                                            <a class="bottom-line-a square"><i class="fa fa-heart"></i></a>
                                                            <a class="bottom-line-a square"><i class="fa fa-retweet"></i></a>
                                                            <a class="bottom-line-a square"><i class="fa fa-expand"></i></a>
                                                        </div>
                                                    </div>
                                                    <a href="#" class="title">3.Pullover Batwing Sleeve Zigzag</a>
                                                    <div class="price">
                                                        <div class="prev">$199,99</div>
                                                        <div class="current">$119,99</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="menu-slider-entry">
                                                <div class="product-slide-entry">
                                                    <div class="product-image">
                                                        <img src="img/product-minimal-4.jpg" alt="" />
                                                        <div class="bottom-line left-attached">
                                                            <a class="bottom-line-a square"><i class="fa fa-shopping-cart"></i></a>
                                                            <a class="bottom-line-a square"><i class="fa fa-heart"></i></a>
                                                            <a class="bottom-line-a square"><i class="fa fa-retweet"></i></a>
                                                            <a class="bottom-line-a square"><i class="fa fa-expand"></i></a>
                                                        </div>
                                                    </div>
                                                    <a href="#" class="title">4.Pullover Batwing Sleeve Zigzag</a>
                                                    <div class="price">
                                                        <div class="prev">$199,99</div>
                                                        <div class="current">$119,99</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="menu-slider-entry">
                                                <div class="product-slide-entry">
                                                    <div class="product-image">
                                                        <img src="img/product-minimal-5.jpg" alt="" />
                                                        <div class="bottom-line left-attached">
                                                            <a class="bottom-line-a square"><i class="fa fa-shopping-cart"></i></a>
                                                            <a class="bottom-line-a square"><i class="fa fa-heart"></i></a>
                                                            <a class="bottom-line-a square"><i class="fa fa-retweet"></i></a>
                                                            <a class="bottom-line-a square"><i class="fa fa-expand"></i></a>
                                                        </div>
                                                    </div>
                                                    <a href="#" class="title">5.Pullover Batwing Sleeve Zigzag</a>
                                                    <div class="price">
                                                        <div class="prev">$199,99</div>
                                                        <div class="current">$119,99</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="full-width-menu-items-left">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="submenu-list-title"><a href="index-wide.html">Homepages <span class="menu-label blue">new</span></a><span class="toggle-list-button"></span></div>
                                            <ul class="list-type-1 toggle-list-container">
                                                <li><a href="index-wide.html"><i class="fa fa-angle-right"></i>Mango - Wide Header</a></li>
                                                <li><a href="index-electronic.html"><i class="fa fa-angle-right"></i>Mango - Electronic</a></li>
                                                <li><a href="index-everything.html"><i class="fa fa-angle-right"></i>Mango - Everything</a></li>
                                                <li><a href="index-fullwidthheader.html"><i class="fa fa-angle-right"></i>Mango - Fullwidth Header</a></li>
                                                <li><a href="index-food.html"><i class="fa fa-angle-right"></i>Mango - Food</a></li>
                                                <li><a href="index-underwear.html"><i class="fa fa-angle-right"></i>Mango - Underwear</a></li>
                                                <li><a href="index-bags.html"><i class="fa fa-angle-right"></i>Mango - Bags</a></li>
                                                <li><a href="index-fullwidth-noslider.html"><i class="fa fa-angle-right"></i>Mango - Fullwidth No Slider</a></li>
                                                <li><a href="index-lookbook.html"><i class="fa fa-angle-right"></i>Mango - Lookbook</a></li>
                                                <li><a href="index-wine-left.html"><i class="fa fa-angle-right"></i>Mango - Wine</a></li>
                                                <li><a href="index-fullwidth.html"><i class="fa fa-angle-right"></i>Mango - Fullwidth</a></li>
                                                <li><a href="index-fullwidth-left.html"><i class="fa fa-angle-right"></i>Mango - Fullwidth Left Sidebar</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="submenu-list-title"><a href="index-wide.html">Homepages <span class="menu-label blue">new</span></a><span class="toggle-list-button"></span></div>
                                            <ul class="list-type-1 toggle-list-container">
                                                <li><a href="index-parallax.html"><i class="fa fa-angle-right"></i>Mango - Parallax</a></li>
                                                <li><a href="index-grid.html"><i class="fa fa-angle-right"></i>Mango - Grid Light</a></li>
                                                <li><a href="index-leftsidebar.html"><i class="fa fa-angle-right"></i>Mango - Grid Left Sidebar</a></li>
                                                <li><a href="index-minimal.html"><i class="fa fa-angle-right"></i>Mango - Minimal</a></li>
                                                <li><a href="index-toys.html"><i class="fa fa-angle-right"></i>Mango - Toys</a></li>
                                                <li><a href="index-furniture.html"><i class="fa fa-angle-right"></i>Mango - Furniture</a></li>
                                                <li><a href="index-jewellery.html"><i class="fa fa-angle-right"></i>Mango - Jewellery</a></li>
                                                <li><a href="index-mini.html"><i class="fa fa-angle-right"></i>Mango - Mini</a></li>
                                                <li><a href="index-presentation.html"><i class="fa fa-angle-right"></i>Mango - Presentation</a></li>
                                                <li><a href="index-parallax-fullwidth.html"><i class="fa fa-angle-right"></i>Mango - Parallax Fullwidth</a></li>
                                                <li><a href="index-parallax-boxed.html"><i class="fa fa-angle-right"></i>Mango - Parallax Boxed</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="submenu-links-line">
                                    <div class="submenu-links-line-container">
                                        <div class="cell-view">
                                            <div class="line-links"><b>Quicklinks:</b>  <a href="#">Blazers</a>, <a href="#">Jackets</a>, <a href="#">Shoes</a>, <a href="#">Bags</a>, <a href="#">Special offers</a>, <a href="#">Sales and discounts</a></div>
                                        </div>
                                        <div class="cell-view">
                                            <div class="red-message"><b>-20% sale only this week. Don’t miss buy something!</b></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="full-width-columns">
                            <a href="#"><span class="menu-item-pic i2"></span>Кошки</a><i class="fa fa-chevron-down"></i>
                            <div class="submenu">
                                <div class="product-column-entry">
                                    <div class="image"><img alt="" src="img/product-menu-2.jpg"></div>
                                    <div class="submenu-list-title"><a href="contact.html">Contact Us</a><span class="toggle-list-button"></span></div>
                                    <div class="description toggle-list-container">
                                        <ul class="list-type-1">
                                            <li><a href="contact.html"><i class="fa fa-angle-right"></i>Contact Us 1</a></li>
                                            <li><a href="contact-2.html"><i class="fa fa-angle-right"></i>Contact Us 2</a></li>
                                            <li><a href="contact-3.html"><i class="fa fa-angle-right"></i>Contact Us 3</a></li>
                                            <li><a href="contact-4.html"><i class="fa fa-angle-right"></i>Contact Us 4</a></li>
                                        </ul>
                                    </div>
                                    <div class="hot-mark">hot</div>
                                </div>
                                <div class="product-column-entry">
                                    <div class="image"><img alt="" src="img/product-menu-4.jpg"></div>
                                    <div class="submenu-list-title"><a href="about-1.html">About Us</a><span class="toggle-list-button"></span></div>
                                    <div class="description toggle-list-container">
                                        <ul class="list-type-1">
                                            <li><a href="about-1.html"><i class="fa fa-angle-right"></i>About Us Fullwidth 1</a></li>
                                            <li><a href="about-2.html"><i class="fa fa-angle-right"></i>About Us Fullwidth 2</a></li>
                                            <li><a href="about-3.html"><i class="fa fa-angle-right"></i>About Us Fullwidth 3</a></li>
                                            <li><a href="about-4.html"><i class="fa fa-angle-right"></i>About Us Sidebar 1</a></li>
                                            <li><a href="about-5.html"><i class="fa fa-angle-right"></i>About Us Sidebar 2</a></li>
                                        </ul>
                                    </div>
                                    <div class="hot-mark yellow">sale</div>
                                </div>
                                <div class="product-column-entry">
                                    <div class="image"><img alt="" src="img/product-menu-3.jpg"></div>
                                    <div class="submenu-list-title"><a href="cart.html">Cart</a><span class="toggle-list-button"></span></div>
                                    <div class="description toggle-list-container">
                                        <ul class="list-type-1">
                                            <li><a href="cart.html"><i class="fa fa-angle-right"></i>Cart</a></li>
                                            <li><a href="cart-traditional.html"><i class="fa fa-angle-right"></i>Cart Traditional</a></li>
                                            <li><a href="checkout.html"><i class="fa fa-angle-right"></i>Checkout</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-column-entry">
                                    <div class="image"><img alt="" src="img/product-menu-5.jpg"></div>
                                    <div class="submenu-list-title"><a href="teaser-background.html">Coming Soon</a><span class="toggle-list-button"></span></div>
                                    <div class="description toggle-list-container">
                                        <ul class="list-type-1">
                                            <li><a href="teaser-background.html"><i class="fa fa-angle-right"></i>Coming Soon 1</a></li>
                                            <li><a href="teaser-background-2.html"><i class="fa fa-angle-right"></i>Coming Soon 2</a></li>
                                            <li><a href="teaser-simple.html"><i class="fa fa-angle-right"></i>Coming Soon 3</a></li>
                                        </ul>
                                    </div>
                                    <div class="hot-mark">hot</div>
                                </div>
                                <div class="product-column-entry">
                                    <div class="image"><img alt="" src="img/product-menu-2.jpg"></div>
                                    <div class="submenu-list-title"><a href="shop.html">Products</a><span class="toggle-list-button"></span></div>
                                    <div class="description toggle-list-container">
                                        <ul class="list-type-1">
                                            <li><a href="shop.html"><i class="fa fa-angle-right"></i>Shop</a></li>
                                            <li><a href="product.html"><i class="fa fa-angle-right"></i>Product</a></li>
                                            <li><a href="product-nosidebar.html"><i class="fa fa-angle-right"></i>No Sidebar</a></li>
                                            <li><a href="product-tabnosidebar.html"><i class="fa fa-angle-right"></i>Tab No Sidebar</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="submenu-links-line">
                                    <div class="submenu-links-line-container">
                                        <div class="cell-view">
                                            <div class="line-links"><b>Quicklinks:</b>  <a href="shop.html">Blazers</a>, <a href="shop.html">Jackets</a>, <a href="shop.html">Shoes</a>, <a href="shop.html">Bags</a>, <a href="shop.html">Special offers</a>, <a href="shop.html">Sales and discounts</a></div>
                                        </div>
                                        <div class="cell-view">
                                            <div class="red-message"><b>-20% sale only this week. Don’t miss buy something!</b></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="simple-list">
                            <a href="shop.html"><span class="menu-item-pic"></span>Птицы</a><i class="fa fa-chevron-down"></i>
                            <div class="submenu">
                                <ul class="simple-menu-list-column">
                                    <li><a href="shop.html"><i class="fa fa-angle-right"></i>Shop</a></li>
                                    <li><a href="product.html"><i class="fa fa-angle-right"></i>Product</a></li>
                                    <li><a href="product-nosidebar.html"><i class="fa fa-angle-right"></i>No Sidebar</a></li>
                                    <li><a href="product-tabnosidebar.html"><i class="fa fa-angle-right"></i>Tab No Sidebar</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="column-1">
                            <a href="portfolio-default.html"><span class="menu-item-pic"></span>Рыбы</a><i class="fa fa-chevron-down"></i>
                            <div class="submenu">
                                <div class="full-width-menu-items-left">
                                    <img class="submenu-background" src="img/product-menu-7.jpg" alt="" />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="submenu-list-title"><a href="portfolio-default.html">Our Portfolio</a><span class="toggle-list-button"></span></div>
                                            <ul class="list-type-1 toggle-list-container">
                                                <li><a href="portfolio-default.html"><i class="fa fa-angle-right"></i>Portfolio Default</a></li>
                                                <li><a href="portfolio-simple.html"><i class="fa fa-angle-right"></i>Portfolio Simple</a></li>
                                                <li><a href="portfolio-custom.html"><i class="fa fa-angle-right"></i>Portfolio Custom</a></li>
                                                <li><a href="portfolio-customfullwidth.html"><i class="fa fa-angle-right"></i>Fullwidth Custom</a></li>
                                                <li><a href="portfolio-simplefullwidth.html"><i class="fa fa-angle-right"></i>Fullwidth Simple</a></li>
                                                <li><a href="project-default.html"><i class="fa fa-angle-right"></i>Project Default</a></li>
                                                <li><a href="project-fullwidth.html"><i class="fa fa-angle-right"></i>Project Fullwidth</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="submenu-links-line">
                                    <div class="submenu-links-line-container">
                                        <div class="cell-view">
                                            <div class="line-links"><b>Quicklinks:</b>  <a href="shop.html">Blazers</a>, <a href="shop.html">Jackets</a>, <a href="shop.html">Shoes</a>, <a href="shop.html">Bags</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="column-1">
                            <a href="blog.html"><span class="menu-item-pic"></span>Грызуны</a><i class="fa fa-chevron-down"></i>
                            <div class="submenu">
                                <div class="full-width-menu-items-left">
                                    <img class="submenu-background" src="img/product-menu-8.jpg" alt="" />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="submenu-list-title"><a href="blog.html">Blog <span class="menu-label blue">new</span></a><span class="toggle-list-button"></span></div>
                                            <ul class="list-type-1 toggle-list-container">
                                                <li><a href="blog.html"><i class="fa fa-angle-right"></i>Blog Default</a></li>
                                                <li><a href="blog-grid.html"><i class="fa fa-angle-right"></i>Blog Grid</a></li>
                                                <li><a href="blog-timeline.html"><i class="fa fa-angle-right"></i>Blog Timeline</a></li>
                                                <li><a href="blog-list.html"><i class="fa fa-angle-right"></i>Blog List</a></li>
                                                <li><a href="blog-biggrid.html"><i class="fa fa-angle-right"></i>Blog Big Grid</a></li>
                                                <li><a href="blog-detail.html"><i class="fa fa-angle-right"></i>Single Post</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="submenu-links-line">
                                    <div class="submenu-links-line-container">
                                        <div class="cell-view">
                                            <div class="line-links"><b>Quicklinks:</b>  <a href="shop.html">Blazers</a>, <a href="shop.html">Jackets</a>, <a href="shop.html">Shoes</a>, <a href="shop.html">Bags</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="" class="navigation-deliv1">ДОСТАВКА И ОПЛАТА</a>
                        </li>
                        <li>
                            <a href="" class="navigation-log1">Войти или Зарегистрироваться</a>
                        </li>
                        <li class="fixed-header-visible">
                            <a class="fixed-header-square-button open-cart-popup"><i class="fa fa-shopping-cart"></i></a>
                            <a class="fixed-header-square-button open-search-popup"><i class="fa fa-search"></i></a>
                        </li>
                    </ul>
                    <div class="clear"></div>
                    
                    <a class="fixed-header-visible additional-header-logo"><img src="images/logo.png" alt=""/></a>
                </nav>
            </div>
        </div>
    </header>
    <div class="clear"></div>
</div>