@include exports("@path:base\_exts.scss"){/*@path:base\_exts.scss*/
  %prod-amt{
    .p-amt{
      color:getc(font);
      @include flx(display,flex);
      font-size:20px;
      input[type=number]{
        width:34px;
        height:31px;
        text-align:center;
        font-size:16px;
        -moz-appearance:textfield;
        padding:0;
        border-radius:0;
        background:none;
        border:1px solid getc(bd);
        border-left:none;
        border-right:none;
        position:relative;
        top:1px;
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button{
          -webkit-appearance:none;
          margin:0;
        }
      }
    }
    .p-m,.p-p{
      font-size:24px;
      cursor:pointer;
      width:34px;
      height:32px;
      text-align:center;
      background:#fff;
      border:1px solid getc(bd);
      border-bottom-width:2px;
      color:inherit;
    }
    .p-p{

    }
  }
  //---
  %g-add{
    .g-add{
      width:40px;
      height:34px;
      border:none;
      color:#000;
      font-size:20px;
      .type2 &{
        background:getc(grn);
      }
      svg{
        width:22px;
        height:18px;
        @include abs($l:9px,$t:8px);
      }
    }
  }
}