@include exports("@path:components\_footer.scss"){/*@path:components\_footer.scss*/
  .type1-footer{
    background:getc(bg);
    .footer-bottom-navigation{
      border-top:none;
    }
  }
  .footer-bottom-navigation{
    border-top: 1px getc(bd) solid;
    margin-top:40px;
    .footer-links{
      font-size:14px;
    }
    .cell-view{
      text-align:left;
      &:first-child{
        width:280px;
      }
      &:last-child{
        margin-top:40px;
        @include med($pk){
          margin:0;
          text-align:right;
        }
      }
    }
    p{
      margin-top:20px;
      line-height:20px;
      &:first-child{
        margin:0;
      }
    }
  }
  .footer-links{
    .pluso a{
      margin:5px 0 0 5px !important;
      border:none;
    }
    .payment-methods a{
      margin-right:7px;
    }
    a{
      font-weight:700;
      margin:0!important;
      color:#000!important;
      &.footer-agreement{
        text-decoration:underline;
        font-weight:500;
      }
    }
  }
  .payment-methods{
    margin-top:20px;
    text-align:left;
    a{
      border:none;
      border-radius:0;
    }
  }
  //---
  .cart-box.popup{
    .content{
      .title,.price{
        font-family:font();
      }
    }
    .summary{
      .subtotal,.grandtotal{
        font-family:font();
      }
    }
  }
  body.style-1 .button.style-4{
    color:#fff;
  }
  //---
  .cart-box.popup{
    .content{
      .title,.price{
        font-family:font();
      }
    }
    .summary{
      .subtotal,.grandtotal{
        font-family:font();
      }
    }
    body.style-1 .type22 & .price,body.style-1 .type22 & .grandtotal span{
      color:getc(grn21);
    }
  }
  body.style-1 .button.style-4{
    color:#fff;
  }
  body.style-1 .type22 .button.style-4{
    background:getc(grn25);
    border-color:getc(grn25);
  }
}