@include exports("@path:components\_header.scss"){/*@path:components\_header.scss*/
  .header-wrapper.type2{
    &.style-1 .navigation{
      background:getc(grn);
    }
    nav>ul>li>.fa{
      color:getc(grn_);
    }
    &.style-10 header:not(.fixed-header){
      .nav-overflow:before{
        @include med($pk12){
          background:getc(grn);
        }
      }
    }
  }
  body.style-1 .type22 .search-button{
    background:getc(grn2);
    .fa{
      color:#000;
    }
  }
  .header-wrapper.type22{
    body.style-1 &{
      .navigation{
        background:getc(grn2);
      }
      nav>ul>li>.fa{
        color:getc(grn21);
      }
      .header-functionality-entry.open-cart-popup b{
        color:getc(grn21);
      }
      header:not(.fixed-header) nav>ul>li>a{
        color:#000;
      }
    }

    &.style-10 header:not(.fixed-header){
      nav>ul>li{
        >a{
          color:#000;
        }
      }
      .nav-overflow:before {
        @include med($pk12){
          background:getc(grn2);
        }
      }
    }
  }
  .type1.header-wrapper.style-9 header.type-1{
    &.fixed-header nav>ul>li:not(.fixed-header-visible){
      margin-top:-16px;
      padding-bottom:16px;
    }
    .navigation{
      @include med($pk12){
        top:-34px;
        right:50px;
      }
      @include med($pk12 + 300px){
        top:-36px;
      }
    }
    nav>ul>li>.fa{
      color:getc(grn1);
    }
    .search-button{
      background:getc(grn1);
    }
    .header-functionality-entry.open-cart-popup b{
      color:getc(grn1);
    }
  }
  body.style-9 .type1 .search-button{
    background:getc(grn1);
  }
  .logo-wrapper{
    width:460px;
  }
  .header-functionality-entry{
    span,.fa{
      vertical-align:bottom;
    }
    span{
      .type2 &,.type22 &{
        position:relative;
        top:-2px;
      }
    }
    .fa{
      .type2 &,.type22 &{
        top:-3px;
      }
    }
    b{
      font:600 20px/1 font();
      .type1 &{
        font:20px/1 font1();
      }
    }
  }
  .header-top{
    border:none;
    @include flx(display,flex);
    @include flx(justify-content,space-between);
    @include flx(flex-flow,'row wrap');
    .type1 &{
      display:block;
      padding:20px 0;
      @include med($pk12){
        @include abs($l:0,$r:0);
        border-bottom:1px solid getc(bd);
      }
    }
  }
  .header-top-free{
    font-weight:700;
    margin:20px 40px 0 0;
  }
  .header-top-call{
    margin:20px 0 0 0;
    color:#000;
    position:relative;
    padding-right:24px;
    width:100%;
    z-index:1;
    font-size:13px;
    .type1 &{
      display:block;
      padding:0;
      margin:0 0 10px 0;
      width:130px;
    }
    @include med($min){
      width:auto;
      margin-right:60px;
      padding-right:44px;
      font-size:14px;
      .type1 &{
        width:auto;
        display:inline-block;
        padding:0;
        margin:0 90px 0 30px;
        &+.header-top-call{
          margin-left:0;
        }
      }
    }
    @include med($pk12){
      margin-right:0;
    }
    &+.header-top-call:after{
      display:none;
    }
    &:after{
      content:'';
      @include center($r:0);
      @include sprite(wapp);
      @include trs('opacity #{$anim} ease-in-out');
      .type1 &{
        pointer-events:none;
        right:-36px;
        margin-top:8px;
        @include med($min){
          right:-66px;
          margin:0;
        }
      }
      .opened &{
        opacity:0;
      }
    }
  }
  .fa-phone{
    margin-right:10px;
  }
  .search-field{
    margin-right:45px;
  }
  .search-drop-down{
    display:none;
  }
  .header-middle{
    padding-top:25px;
    @include med($pk12){
      padding:50px 0;
      .type1 &{
        padding:80px 0 30px 0;
      }
    }
    .right-entries{
      width:230px;
    }
  }
  .fixed-header-square-button .fa{
    @include med($pk12){
      font-size:18px;
    }
  }
  .fa-shopping-cart{
    &~b{
      margin-left:14px;
      vertical-align:middle;
      .type2 &{
        color:getc(grn);
      }
      .type22 &{
        color:getc(grn2);
      }
    }
    &~span{
      font-size:14px;
    }
  }
  .header-cart-side{
    @include abs($t:34px,$r:0,$p:fixed);
    @include sprite(sidecart);
    z-index:1;
    display:none;
    @include med($pk12){
      display:block;
    }
    .type1 &{
      top:200px;
      @include sprite(sidecarta);
    }
    span{
      @include abs($l:-6px,$b:-6px);
      height:24px;
      line-height:22px;
      padding:0 6px;
      min-width:24px;
      color:#fff;
      text-align:center;
      .type2 &{
        background:getc(grn);
      }
      .type22 &{
        background:getc(grn24);
      }
      .type1 &{
        background:getc(grn11);
      }
    }
  }
  .navigation-header{
    border:none;
    .close-menu{
      top:15px;
    }
  }
  .nav-overflow{
    top:75px;
    @include med($pk12){
      top:auto;
    }
    ul:first-child>li{
      .type2 &{
        &.i1 .menu-item-pic{
          @include sprite(menu1);
        }
        &.i2 .menu-item-pic{
          @include sprite(menu2);
        }
        &.i3 .menu-item-pic{
          @include sprite(menu3);
        }
        &.i4 .menu-item-pic{
          @include sprite(menu4);
        }
        &.i5 .menu-item-pic{
          @include sprite(menu5);
        }
      }
      .type22 &{
        &.i1 .menu-item-pic{
          @include sprite(menu1a);
        }
        &.i2 .menu-item-pic{
          @include sprite(menu2a);
        }
        &.i3 .menu-item-pic{
          @include sprite(menu3a);
        }
        &.i4 .menu-item-pic{
          @include sprite(menu4a);
        }
        &.i5{
          display:none;
        }
      }
    }
  }
  .fixed-header{
    ul:nth-child(2){
      display: none;
    }
    .header-cart-side{
      top: 100px;
    }
  }
  .fixed-header-square-button{
    padding: 0;
  }
  .navigation-addit{
    font-size:15px;
    margin:0 20px;
    z-index:1;
    @include med($pk12){
      margin:0;
      line-height:70px;
      @include flx(display,flex);
    }
    .navigation-deliv{
      display:block;
      color:#fff;
      font-family:font();
      padding-top:20px;
      @include med($pk12){
        line-height:70px;
        padding:0 20px;
      }
      .type22 &{
        color:#000;
      }
    }
    .navigation-log{
      display:block;
      padding:12px 0;
      position:relative;
      color:#fff;
      font-family:font();
      @include med($pk12){
        line-height:70px;
        padding:0 20px 0 40px;
        .type2 &{
          background:rgba(#000,0.15);
        }
        .type22 &{
          background:getc(grn23);
        }
      }
      .type22 &{
        color:#000;
      }
      &:before{
        content:'';
        @include center($l:0);
        display:none;
        @include med($pk12){
          display:block;
          left:20px;
        }
        .type2 &{
          @include sprite(log);
        }
        .type22 &{
          @include sprite(loga);
        }
      }
    }
  }
  .navigation-footer{
    display:none;
  }
  .menu-item-pic{
    display:none;
    @include center($t:6px);
    @include med($pk12){
      display:block;
    }
  }
  .submenu-list-title a{
    font-family:font();
    .type1 &{
      font-family:font11();
      font-weight:400;
    }
  }
}