(function (factory){
 factory(jQuery,theApp);
}(function($,mgr){
 'use strict';

 mgr.on('app:ready',function(e,modules){
  if(~modules.indexOf('[[name]]'))
  {
   mgr.set({data:'[[name]].',object:''});
  }
 });
}));