$shared-sprite:(
 img:'#{$path}shared-sprite.png',
 items:(
  arr-l1:(
   width:30px,
   height:30px,
   pos:0px -128px
  ),
  arr-r1:(
   width:30px,
   height:30px,
   pos:0px -168px
  ),
  i-cart:(
   width:23px,
   height:22px,
   pos:0px -60px
  ),
  log:(
   width:12px,
   height:14px,
   pos:0px -11px
  ),
  loga:(
   width:13px,
   height:15px,
   pos:0px -35px
  ),
  menu1:(
   width:32px,
   height:32px,
   pos:0px -543px
  ),
  menu1a:(
   width:32px,
   height:32px,
   pos:0px -249px
  ),
  menu2:(
   width:32px,
   height:32px,
   pos:0px -333px
  ),
  menu2a:(
   width:32px,
   height:32px,
   pos:0px -291px
  ),
  menu3:(
   width:32px,
   height:32px,
   pos:0px -501px
  ),
  menu3a:(
   width:32px,
   height:32px,
   pos:0px -585px
  ),
  menu4:(
   width:32px,
   height:32px,
   pos:0px -375px
  ),
  menu4a:(
   width:32px,
   height:32px,
   pos:0px -417px
  ),
  menu5:(
   width:32px,
   height:32px,
   pos:0px -459px
  ),
  nothing:(
   width:1px,
   height:1px,
   pos:0px 0px
  ),
  pay1:(
   width:43px,
   height:26px,
   pos:0px -92px
  ),
  promo-btn1:(
   width:50px,
   height:50px,
   pos:0px -627px
  ),
  promo-btn1a:(
   width:50px,
   height:50px,
   pos:0px -687px
  ),
  sidecart:(
   width:50px,
   height:50px,
   pos:0px -747px
  ),
  wapp:(
   width:31px,
   height:31px,
   pos:0px -208px
  )
 )
);