$shared-sprite:(
 img:'#{$path}shared-sprite.png',
 items:(
  arr-l1:(
   width:30px,
   height:30px,
   pos:0px -213px
  ),
  arr-l2:(
   width:30px,
   height:30px,
   pos:0px -253px
  ),
  arr-r1:(
   width:30px,
   height:30px,
   pos:0px -333px
  ),
  arr-r2:(
   width:30px,
   height:30px,
   pos:0px -293px
  ),
  i-cart:(
   width:23px,
   height:22px,
   pos:0px -145px
  ),
  i-carta:(
   width:24px,
   height:18px,
   pos:0px -60px
  ),
  i-cartb:(
   width:23px,
   height:19px,
   pos:0px -116px
  ),
  i-cartc:(
   width:24px,
   height:18px,
   pos:0px -88px
  ),
  log:(
   width:12px,
   height:14px,
   pos:0px -11px
  ),
  loga:(
   width:13px,
   height:15px,
   pos:0px -35px
  ),
  menu1:(
   width:32px,
   height:32px,
   pos:0px -661px
  ),
  menu1a:(
   width:32px,
   height:32px,
   pos:0px -703px
  ),
  menu2:(
   width:32px,
   height:32px,
   pos:0px -745px
  ),
  menu2a:(
   width:32px,
   height:32px,
   pos:0px -787px
  ),
  menu3:(
   width:32px,
   height:32px,
   pos:0px -829px
  ),
  menu3a:(
   width:32px,
   height:32px,
   pos:0px -493px
  ),
  menu4:(
   width:32px,
   height:32px,
   pos:0px -535px
  ),
  menu4a:(
   width:32px,
   height:32px,
   pos:0px -577px
  ),
  menu5:(
   width:32px,
   height:32px,
   pos:0px -619px
  ),
  nothing:(
   width:1px,
   height:1px,
   pos:0px 0px
  ),
  pay1:(
   width:43px,
   height:26px,
   pos:0px -177px
  ),
  promo-btn1:(
   width:50px,
   height:50px,
   pos:0px -1095px
  ),
  promo-btn1a:(
   width:50px,
   height:50px,
   pos:0px -1035px
  ),
  promo-btn1b:(
   width:50px,
   height:50px,
   pos:0px -975px
  ),
  promo-btn1c:(
   width:50px,
   height:50px,
   pos:0px -915px
  ),
  s-fb:(
   width:31px,
   height:30px,
   pos:0px -453px
  ),
  s-g:(
   width:31px,
   height:30px,
   pos:0px -413px
  ),
  s-vk:(
   width:31px,
   height:30px,
   pos:0px -373px
  ),
  sidecart:(
   width:50px,
   height:50px,
   pos:0px -1155px
  ),
  sidecarta:(
   width:50px,
   height:50px,
   pos:0px -1215px
  ),
  sidecartb:(
   width:50px,
   height:50px,
   pos:0px -1275px
  ),
  wapp:(
   width:34px,
   height:34px,
   pos:0px -871px
  )
 )
);