$shared-sprite:(
 img:'#{$path}shared-sprite.png',
 items:(
  arr-l1:(
   width:30px,
   height:30px,
   pos:0px -265px
  ),
  arr-l2:(
   width:30px,
   height:30px,
   pos:0px -305px
  ),
  arr-r1:(
   width:30px,
   height:30px,
   pos:0px -225px
  ),
  arr-r2:(
   width:30px,
   height:30px,
   pos:0px -185px
  ),
  i-cart:(
   width:23px,
   height:22px,
   pos:0px -117px
  ),
  i-carta:(
   width:24px,
   height:18px,
   pos:0px -60px
  ),
  i-cartb:(
   width:23px,
   height:19px,
   pos:0px -88px
  ),
  log:(
   width:12px,
   height:14px,
   pos:0px -11px
  ),
  loga:(
   width:13px,
   height:15px,
   pos:0px -35px
  ),
  menu1:(
   width:32px,
   height:32px,
   pos:0px -680px
  ),
  menu1a:(
   width:32px,
   height:32px,
   pos:0px -638px
  ),
  menu2:(
   width:32px,
   height:32px,
   pos:0px -470px
  ),
  menu2a:(
   width:32px,
   height:32px,
   pos:0px -386px
  ),
  menu3:(
   width:32px,
   height:32px,
   pos:0px -722px
  ),
  menu3a:(
   width:32px,
   height:32px,
   pos:0px -428px
  ),
  menu4:(
   width:32px,
   height:32px,
   pos:0px -512px
  ),
  menu4a:(
   width:32px,
   height:32px,
   pos:0px -554px
  ),
  menu5:(
   width:32px,
   height:32px,
   pos:0px -596px
  ),
  nothing:(
   width:1px,
   height:1px,
   pos:0px 0px
  ),
  pay1:(
   width:43px,
   height:26px,
   pos:0px -149px
  ),
  promo-btn1:(
   width:50px,
   height:50px,
   pos:0px -1124px
  ),
  promo-btn1a:(
   width:50px,
   height:50px,
   pos:0px -764px
  ),
  promo-btn1b:(
   width:50px,
   height:50px,
   pos:0px -824px
  ),
  promo-btn1c:(
   width:50px,
   height:50px,
   pos:0px -884px
  ),
  sidecart:(
   width:50px,
   height:50px,
   pos:0px -944px
  ),
  sidecarta:(
   width:50px,
   height:50px,
   pos:0px -1004px
  ),
  sidecartb:(
   width:50px,
   height:50px,
   pos:0px -1064px
  ),
  wapp:(
   width:31px,
   height:31px,
   pos:0px -345px
  )
 )
);